:root {
	--background-color: #1b1c2a;
	--secondary-background-color: #2a284f;
	--text-color: #cdd0f5;
	--primary-color: #eee066;

	--ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
}

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Bitter', serif;
	color: var(--text-color);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

a:hover {
	color: var(--primary-color);
}

button,
.a-btn {
	background-color: var(--primary-color);
	min-height: 1rem;
	padding: 0.5rem;

	color: var(--background-color);

	border: 2px solid var(--primary-color);
	border-radius: 10px;

	transition: all 0.3s ease;
}

.a-btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

button:hover,
.a-btn {
	background-color: var(--background-color);

	color: var(--primary-color);

	cursor: pointer;
}
